
.timer {
    color: white;
}

.startBtn {
    color: white;
    background-color: yellowgreen;
}

.pauseBtn {
    color: white;
    background-color: #5865d8;
}

.resetBtn {
    color: white;
    background-color: #4fceae;
}