// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
@import "variables.module.scss";
// Default variable overrides
$body-bg: $background-color;
$body-color: #111;
$primary: $primary-color;

// ------------------- Card --------------------
$card-bg: $background-light-color;
$card-cap-color: white;
$card-border-radius: 16px;

// ------------------- Navbar --------------------
$navbar-light-brand-color: white;
$navbar-light-brand-hover-color: white;
$navbar-dark-brand-color: white;
$navbar-dark-brand-hover-color: white;
$link-color: white;
$component-active-color: white;

// ------------------- Nav --------------------
$nav-link-padding-y: 0.5rem;
$nav-link-padding-x: 0.5rem;
$nav-link-color: white;
$nav-link-hover-color: white;

// ------------------- Type -------------------- 
$display-font-sizes:(
  1: 140px
);
$display-font-weight: 500;

// ------------------- Nav -------------------- 
// $btn-line-height: 1.5;
// $btn-white-space: 1;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// 4. Include any optional Bootstrap components as you like
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";

@import "../node_modules/bootstrap/scss/type";
// @import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/forms";

// 5. Add additional custom code here

#__next {
  height: 100%
}

// $component-active-color: white;
// $component-active-bg: white;
// $navbar-light-active-color: rgba(white, .9) !default;

// $link-color: white;
// $component-active-color: white;

// $navbar-light-color: #212529;
// $navbar-light-hover-color: #6610f2;
// $navbar-light-active-color: #6610f2;
// $nav-tabs-link-active-bg: rgb(202, 28, 28);

// @import "../node_modules/bootstrap/scss/bootstrap";

html, body {
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
